body {
  background-image: linear-gradient(180deg, #4a54e0, #434099);
  min-height: 100vh;
}
main {
  width: 750px;
  height: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: white;
}
.heading {
  text-align: center;
  padding-top: 30px;
}
.heading2nd {
  text-align: center;
  font-size: 15px;
}
.flexBox {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;

}

.matrix {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 10px solid gainsboro;
}
.matrix > div {
  display: flex;
}
.contentBox {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1px;
  margin-left: -1px;
}
.choice {
  background-color: burlywood;
}

.crate {
  border-top: 2px solid gainsboro;
}

.inputValie > em {
  color: red;
}
.radioXY {
  width: 75px;
}

.inputValue {
  display: block;
  width: 170px;
}

.inputValue > span, .inputValie > em, .inputValue > input {
  display: block;
  text-align: center;
}
.inputValue > span {
  height: 40px;
}

.inputBox {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.warningMaxText, .warningMacthText {
  color: brown;
}
.inputCaption > span {
  display: block;
  height: 40px;
  text-align: center;
}
.caption {
  display: block;
  width: 150px;
  height: 50px;
}
.inputButton > button {
  width: 100px;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  border-style: none;
  border-radius: 2px;
  background-color: #434099;
  color: white;
  margin-bottom: 10px;  

}